*{
    margin: 0;
    padding: 0;
}
#managesystem_panel{
    width: 100%;
    display: flex;
    max-height: 100vh;
    min-height: 100vh;
    background: rgba(210, 210, 210,20%);
}
#managesystem_panel_left{
    width: 15%;
    max-height: 100vh;
    min-height: 100vh;

}
#managesystem_panel_right{
    width: 85%;
    max-height: 100vh;
    min-height: 100vh;
}
#managesystem_panel_title .icon{
    width: 25px;
    height: 25px;  
    margin-right: 5px;    
}
#managesystem_panel_title{
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 5vh;
    min-height: 45px;
    font-weight: bold;
    font-family: "三极则木简体";
    margin: 5px 0px;
    border-right: 1px solid rgba(0, 0, 0, 4%);
}
.managesystem_panel_menu{
    width: 100%;
    background: transparent;
    max-height: 93vh;
    min-height: 93vh;
    font-size: 16px;
}
.managesystem_panel_menu .ant-menu-item{
    display: flex;
    align-items: center;
    height: 45px;
    position: relative;
    overflow: hidden;
}
.ant-menu-item span{
    margin-left: -8px !important;
}
.managesystem_panel_menu .ant-menu-item .managesystem_panel_icon{
    position: relative;
    top:-50px;
    filter:drop-shadow(0 50px 0 #707070);
}
.ant-menu-item-selected{
    background: rgba(210, 210, 210,20%) !important;
    outline: none !important;
    color: #7C9BF0 !important;
}
.managesystem_panel_menu .ant-menu-item-selected .managesystem_panel_icon{
    filter:drop-shadow(0 50px 0 #7C9BF0);
}
.managesystem_panel_icon{
    width: 22px;
    height: 22px;
    cursor: pointer;
}
.managesystem_panel_right_nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 95%;
    margin: 5px 30px;
    height: 5vh;
    min-height: 50px;
}
.menu_collapse_icon svg{
    width: 18px;
    height: 18px;
    cursor: pointer;
}
.menu_collapse_icon path{
    fill: #707070;
}
.managesystem_panel_path{
    width: 45%;
    text-align: left;
    font-size: 14px;
    color: rgba(0, 0, 0, 64%);
}
.managesystem_panel_searchbox{
    width: 250px;
}
.managesystem_panel_welcome{
    max-width: 150px;
    min-width: 150px;
    text-overflow: ellipsis;
    white-space:nowrap;
    overflow: hidden;
}

.system_tab_detail_panel{
    width: 100%;
    height: 87vh;
    overflow: hidden;
    background: white;
    margin-top: -15px;
}
#userdata_ope_bar{
    text-align: left;
    height: 50px;
    display: flex;
    align-items: center;
    padding-left: 10px;
}
#userdata_ope_bar button{
    margin: 0px 5px;
}
.userdata_row_ope button{
    margin: 0px 5px;
}
.edit_form{
    width: 90%;
    margin:30px 5%;
}
.drag_panel path{
   fill: #707070;
}
.drag_panel svg{
    width: 30px;
    height: 30px;
}
.system_add_button{
    color: #7C9BF0;
    border: 1px solid rgb(16, 142, 233);
}
.system_edit_button{
    color: green;
    border: 1px solid #87d068;
}
.system_edit_button:hover{
    color: #87d068 !important;
    border: 1px solid #87d068 !important;
}
#userdata_ope_table .avatar{
    width: 30px;
    height: 30px;
    border-radius: 50%;
}
.filter_panel{
    width: 200px;
}
.filter_panel .search_box{
    width: 90%;
    margin: 10px 5%;
}
.filter_panel .ope_box{
    width: 90%;
    margin-left: 5%;
    padding-bottom: 10px;
    display: flex;
    justify-content: space-between;
}
.shirt_data_panel{
    display: flex;
    background: rgba(0, 0, 0, 0.5%);
}
.system_tab_detail_panel #shirtdata_panel_left,.system_tab_detail_panel #shirtdata_panel_right{
    height: 90%;
    margin: 2%;
    width: 70%;
}
.system_tab_detail_panel #shirtdata_panel_left{
    width: 22%;
}
#shirtdata_type_panel,#shirtdata_data_panel{
    width: 100%;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
}
#shirtdata_type_panel li,#shirtdata_data_panel li{
    width: 30%;
    margin: 10px 1.5%;
    cursor: pointer;
    font-size: 13px;
    padding: 10px 0px;
    transition: 0.4s ease;
    border-radius: 5px;
}
#shirtdata_data_panel li{
    width: 17%;
    padding: 20px 0px;
    position: relative;
}
#shirtdata_data_panel li:hover .hover_img{
    left: 80%;
    top: 20px;
    opacity: 100%;
    z-index: 1;
}
#shirtdata_data_panel li:hover .hover_img2{
    left: 80%;
    top: 80%;
    opacity: 100%;
    z-index: 100;
}
.hover_img{
    width: 25px !important;
    height: 25px !important;
    position: absolute;
    border-radius: 50%;
    border:1px solid rgba(0, 0, 0, 32%);
    left: 50%;
    top:50%;
    transform: translate(-50%,-50%);
    transition: 0.4s ease;
    background-size: 70% 70% !important;
    background-position: 50% 50% !important;
    background-repeat: no-repeat !important;
    opacity: 0%;
    z-index: -1;
}
#shirtdata_type_panel li:hover,.cur_selected_li,#shirtdata_data_panel li:hover{
    background: rgba(0, 0, 0, 4%) !important;
}
#shirtdata_type_panel li img,#shirtdata_data_panel li img{
    width: 50%;
    margin-left: 25%;
    height: auto;
    display: block;
}
#shirtdata_data_panel li img{
    width: 30%;
    margin-left: 35%;
}
#shirtdata_panel_detail{
    position: absolute;
    left: 28%;
    top: 3.8%;
    width: 70%;
    height: 90%;
    overflow: scroll;
}
#shirtdata_panel_detail::-webkit-scrollbar{
    display: none;
}
#shirtdata_data_detail_panel{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
    list-style: none;
}
#shirtdata_data_detail_panel li{
    width: 28%;
    font-size: 12px;
    margin: 10px 2%;
    text-align: left;
    cursor: pointer;
    position: relative;
}
#shirtdata_data_detail_panel .img_box{
    width: 100% ;
    height:250px;
    background-size: 90% 90% !important;
    background-position: 50% 50% !important;
    background-repeat: no-repeat !important;
}
#shirtdata_data_detail_panel .content_box>div{
    margin: 5px 0px;
}
#shirtdata_data_detail_panel .content_box>div:first-child{
    font-size: 13px;
    text-align: left !important;
    color: rgba(0, 0, 0, 64%);
}
#shirtdata_data_detail_panel .content_box .price span{
    font-size: 16px;
    font-weight: bold;
    color: #7C9BF0;
    text-decoration: underline;
}
#shirtdata_data_detail_panel .ope_box{
    position: absolute;
    top: 0px;
    right: 0px;
    width: 75px;
    display: flex;
    align-items: center;
    justify-content: center;
}
#shirtdata_data_detail_panel .ope_box .ope_box_detail{
    width: 25px;
    height: 25px;
    display: flex;
    margin: 0px 2px;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    border: solid 1px rgba(0, 0, 0, 32%);
    overflow: hidden;
    transition: 0.4s ease;
    background: white;
}
#shirtdata_data_detail_panel .ope_box img{
    width: 18px;
    height: 18px;
    position: relative;
    top: -50px;
    filter: drop-shadow(0 50px 0 rgba(0,0,0,32%));
}
#shirtdata_data_detail_panel .ope_box_detail:hover{
    background: #7C9BF0;
    border: solid 1px #7C9BF0;
}
#shirtdata_data_detail_panel .ope_box_detail:hover img{
    filter: drop-shadow(0 50px 0 white);
}
#myshaking_animation{
    animation: shaking 1.0s 0.4s ease infinite;
}
#myrotating_animation{
    animation: rotating 1s linear infinite;
}
.table_ope_bar{
    width: 100%;
    text-align: left;
    margin: 5px 0px;
    padding-left: 15px;
}
.table_ope_bar button{
    margin-right: 10px;
}
@keyframes rotating {
    100%{
        transform: rotate(360deg);
    }
}
@keyframes shaking {
    0%{
        transform: scale(1,1) rotate(0deg);
    }
    15%{
        transform: scale(1.2,1.2) rotate(-5deg);
    }
    30%{
        transform: scale(1.2,1.2) rotate(5deg);
    }
    45%{
        transform: scale(1.2,1.2) rotate(-5deg);
    }
    60%{
        transform: scale(1.2,1.2) rotate(5deg);
    }
}

.platform_img_ope_panel{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
#platform_img_ope_panel_left{
    width: 20%;
    height: 95%;
    box-shadow: 1px 1px 3px 3px rgba(0, 0, 0, 4%);
    border-radius: 5px;
}
#platform_img_ope_panel_right{
    width: 75%;
    height: 95%;
    box-shadow: 1px 1px 3px 3px rgba(0, 0, 0, 4%);
    border-radius: 5px;
}
#platform_img_ope_panel_left .myTreePanel{
    max-height: 100%;
    min-height: 100%;
}
.platformimgs_imgbox{
    width: 50px;
    height: 50px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    background-size: 100% auto !important;
    background-repeat:no-repeat !important;
    background-position: 50% 50% !important;
    overflow: hidden;
    background-color: rgb(253,253,253);
}
.platformimgs_imgbox2{
    width: 100px;
}
.hot_sale{
    color:red;
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: center;
}
.hot_sale img{
    width: 20px;
    height: 20px;
}
#platform_img_ope_panel_right_bar{
    width: 100%;
    height: 50px;
    text-align: left;
    display: flex;
    align-items: center;
    padding-left: 5px;
    background: rgb(251,251,251);
}
#platform_img_ope_panel_right_bar>button{
    margin: 0px 5px;
}
.inrow_opebox{
    margin:0px 5px;
    cursor: pointer;
    margin:0px 2px;
    text-decoration: none;
    transition: 0.4s ease;
}
.inrow_opebox:hover{
    text-decoration: underline;
    color: #7C9BF0;
}
.platform_modal_panel{
    width: 700px;
    display: flex;
    position: relative;
    flex-wrap: wrap;
    left: 50%;
    transform: translateX(-50%);
}
.platform_modal_panel>div{
    width: 45%;
    margin:15px 2.5%;
    height: 300px;
}
.platform_modal_panel_left .upload_box .ant-upload{
    height: 90% !important;
    display: flex;
    align-items: center;
    justify-content: center;
}
.platform_modal_panel_bottom{
    margin-top: -35px !important;
    width: 100% !important;
    height: 150px !important;
}
.platform_modal_item{
    display: flex;
    align-items: center;
    margin: 7px 0px;
}
.platform_modal_item>span:first-child{
    display: block;
    width: 75px;
}
.platform_modal_item .inputbox{
    width: 250px;
}
.platform_modal_panel_btnbox{
    height:25px !important;
    margin-top: -15px !important;
    width: 100% !important;
    text-align: right;
}
.platform_modal_panel_btnbox button{
    margin-left: 15px;
}
.userproject_panel_form{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    padding: 12.5px 0px;
}
.system_tab_detail_panel_top{
    width: 100%;
    background: rgb(251,251,251);
    transition: 0.4s ease;
}
.userproject_panel_form .ant-form-item{
    width: 30%;
}
.userproject_panel_form .ant-form-item .project_input{
    width:80%;
}
.userproject_panel_form .ant-form-item .project_date{
    width: 100%;
}
.project_ope_bar{
    width: 100%;
    text-align: left;
    padding-left: 20%;
}
.project_ope_bar button{
    margin-left: 20px;
}
.userproject_panel_form .date_item{
    width: 39%;
}

.record_ellapse{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.user_modal{
    width: 60%;
}
.user_form{
    width: 100% !important;
    display: flex;
    flex-wrap: wrap;

}
.user_form .ant-form-item{
    width: 50%;
    margin: 15px 0px !important;
}
.edit_form_btn{
    width: 100% !important;
    text-align: right;
}